body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(0, 0, 0, 0.918);
    margin: 0;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 35px;
}

h5 {
    font-size: 20px;
}

.flexible-container {
    display: flex;
    margin-bottom: 100px;
}

.half-width {
    width: 50%;
    margin-left: 5%;
}

.half-width img {
    width: 90%;
}

.tomato-color {
    color: tomato;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(tomato, orange);
    padding: 15px 40px;
    border-radius: 20px;
    color: white;
    font-weight: 700;
}

.about-me {
    background-image: url(./images/shapes/7.png);
    background-repeat: no-repeat;
}